In [1]:
pip install psycopg2 -binary

Usage:
  /opt/anaconda3/bin/python -m pip install [options] <requirement specifier> [package-index-options] ...
  /opt/anaconda3/bin/python -m pip install [options] -r <requirements file> [package-index-options] ...
  /opt/anaconda3/bin/python -m pip install [options] [-e] <vcs project url> ...
  /opt/anaconda3/bin/python -m pip install [options] [-e] <local project path> ...
  /opt/anaconda3/bin/python -m pip install [options] <archive url/path> ...

no such option: -b
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [7]:
%sql postgresql://karanarora:karan..274@localhost:5432/Projects

In [17]:
%%sql -- In which Neighbourhood group there is maximum number of properties listed ?

SELECT
    neighbourhood, 
    neighbourhood_group, 
    COUNT(*) AS number_of_properties
FROM airbnb
GROUP BY neighbourhood,neighbourhood_group
ORDER BY number_of_properties DESC
LIMIT 1;

 * postgresql://karanarora:***@localhost:5432/Projects
1 rows affected.

[('Bedford-Stuyvesant', 'Brooklyn', 1586)]

In [7]:
%%sql -- Which host has maximum number of properties listed ?

SELECT 
	host_id,
	host_name,
	COUNT(calculated_host_listings_count) AS listing_count
FROM airbnb
GROUP BY host_id,host_name
ORDER BY listing_count DESC
LIMIT 1;

 * postgresql://karanarora:***@localhost:5432/Projects
1 rows affected.

[(162280872, 'Urban Furnished', 146)]

In [21]:
%%sql -- Which host has maximum properties listed in neighbourhood groups having maximum properties listed ?

WITH max_neighbourhood_group AS(
	SELECT 
		neighbourhood_group,
		COUNT(*) AS number_of_properties
	FROM airbnb
	GROUP BY neighbourhood_group
	ORDER BY number_of_properties DESC
	LIMIT 1
),

max_cte AS(
	SELECT
		host_id,
		host_name,
		neighbourhood_group,
		COUNT(*) AS number_of_properties
	FROM airbnb
	WHERE neighbourhood_group IN (SELECT neighbourhood_group FROM max_neighbourhood_group)
	GROUP BY host_id,host_name,neighbourhood_group
	ORDER BY number_of_properties DESC
	LIMIT 1
)

SELECT 
	host_id,
	host_name,
	neighbourhood_group,
	number_of_properties
FROM max_cte

 * postgresql://karanarora:***@localhost:5432/Projects
1 rows affected.

[(162280872, 'Urban Furnished', 'Manhattan', 137)]

In [23]:
%%sql -- What is the average price in different properties listed ?

SELECT
	neighbourhood_group,
	AVG(rating) AS average_rating,
	AVG(price) AS average_price
FROM airbnb
GROUP BY neighbourhood_group

 * postgresql://karanarora:***@localhost:5432/Projects
5 rows affected.

[('Queens', 4.736635543106121, Decimal('126.4892315873437915')),
 ('Brooklyn', 4.773720357252821, Decimal('187.0339422204948828')),
 ('Staten Island', 4.776023166023162, Decimal('118.7800687285223368')),
 ('Manhattan', 4.6918445978487675, Decimal('227.8541925852202040')),
 ('Bronx', 4.721171393341556, Decimal('118.4077976817702845'))]

In [25]:
%%sql -- What is the most prefered room type in the every neighbourhood groups ?

WITH room_type_avg_rating AS (
    SELECT
        neighbourhood_group,
        room_type,
        AVG(rating) AS average_rating
    FROM airbnb
    WHERE rating IS NOT NULL
    GROUP BY neighbourhood_group, room_type
),

ranked_room_types AS (
    SELECT
        neighbourhood_group,
        room_type,
        average_rating,
        ROW_NUMBER() OVER (PARTITION BY neighbourhood_group ORDER BY average_rating DESC) AS rank
    FROM room_type_avg_rating
)

SELECT 
    neighbourhood_group,
    room_type,
    average_rating
FROM ranked_room_types
WHERE rank = 1;

 * postgresql://karanarora:***@localhost:5432/Projects
5 rows affected.

[('Bronx', 'Private room', 4.729698924731188),
 ('Brooklyn', 'Hotel room', 4.85),
 ('Manhattan', 'Entire home/apt', 4.711594634873317),
 ('Queens', 'Entire home/apt', 4.75668583752696),
 ('Staten Island', 'Entire home/apt', 4.797573529411765)]

In [27]:
%%sql -- Total availability of properties having different room type?

SELECT 
	room_type,
	SUM(availability_365) AS total_availability
FROM airbnb
GROUP BY room_type

 * postgresql://karanarora:***@localhost:5432/Projects
4 rows affected.

[('Entire home/apt', 2409752),
 ('Shared room', 65368),
 ('Private room', 1770231),
 ('Hotel room', 30596)]

In [29]:
%%sql -- Which one is the busiest host ?

SELECT
	host_id,
	host_name,
	SUM(number_of_reviews) AS reviews
FROM airbnb
GROUP BY host_id,host_name
ORDER BY reviews DESC
LIMIT 1

 * postgresql://karanarora:***@localhost:5432/Projects
1 rows affected.

[(219517861, 'Sonder (NYC)', 6392)]

In [31]:
%%sql -- Which property has maximum number of reviews ?

SELECT 
	host_id,
	host_name,
	name,
	SUM(number_of_reviews) AS reviews
FROM airbnb
GROUP BY host_id, host_name, name
ORDER BY reviews DESC
LIMIT 1

 * postgresql://karanarora:***@localhost:5432/Projects
1 rows affected.

[(266755066, 'The Ridge', 'Boutique hotel in New York · ★4.54 · 1 bedroom · 1 bed · 1 private bath', 1865)]

In [9]:
%%sql -- Does having a license affects the pricing ?

SELECT 	
	license,
	AVG(price) average_price
FROM airbnb
GROUP BY license
ORDER BY average_price DESC
LIMIT 5

 * postgresql://karanarora:***@localhost:5432/Projects
5 rows affected.

[('OSE-STRREG-0000556', Decimal('2643.0000000000000000')),
 ('OSE-STRREG-0000632', Decimal('2250.0000000000000000')),
 ('OSE-STRREG-0000018', Decimal('2064.0000000000000000')),
 ('OSE-STRREG-0000066', Decimal('1029.0000000000000000')),
 ('OSE-STRREG-0000590', Decimal('1000.0000000000000000'))]